[Desktop Entry]
Type=Application
Name=dsh-supervisor
Comment=DSH 生命周期监管面板
Exec=@HOME@/.local/bin/dsh-supervisor-gui
Icon=@HOME@/.local/share/icons/dsh-supervisor.png
Terminal=false
Categories=System;Monitor;
